@model NerdDinnerFinal.Models.Dinner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(x => x.Title)</h4>
    <hr />
    <p>
        <b>When:</b>
        @Model.EventDate.ToShortDateString()
    </p>
    <p>
        <b>Where:</b>
        @Model.Address
        @Model.Country
    </p>
    <p>
        <b>Description:</b>
        @Model.Description
    </p>
    <p>
        <b>Organizer:</b>
        @Model.HostedBy
        (@Model.ContactPhone)
    </p>

    <div id="mapDiv">
        @{
            Html.RenderPartial("Map");
        }
    </div>
   
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DinnerId }) |
    @Html.ActionLink("Delete Dinner", "Delete", new { id = Model.DinnerId })
</p>
